html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

html, body {
  height: 100%;
}

*:focus {
  outline: none;
}

[background-white], .background-white {
  background-color: #fff !important;
}

md-content[background-gray] {
  background-color: #ececec !important;
}

md-content[background-gray] > p, md-content[background-gray] > span, md-content[background-gray] > div {
  color: #999;
}

md-list-item .title {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}

md-list-item > button {
  padding: 8px 16px;
}

md-list-item .md-caption {
  line-height: 16px;
}

.clickable, [clickable] {
  cursor: pointer;
}

.avatar {
  margin: 4px 8px;
  width: 4.8rem;
  height: 4.8rem;
  line-height: 4.8rem;
  font-size: 2rem;
  color: white;
  display: block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #c7c7c7;
}

md-card {
  background: #fff;
}

md-card h3 {
  color: #000;
}

.browsehappy {
  margin: 0.2rem 0;
  padding: 0.2rem 0;
  color: #000;
  background: #ccc;
}

md-card md-button {
  margin: .4rem;
}

md-toolbar {
  min-height: 56px;
  height: auto;
}

md-toolbar .toolbar-row {
  align-content: center;
  display: flex;
  align-items: center;
}

footer p {
  line-height: normal;
}

/* Toolbar area */
s md-toolbar h1 {
  margin: auto;
}

.width100 {
  width: 100%;
}

.width80 {
  width: 80%;
}

.bold-2 {
  font-weight: 600;
  letter-spacing: 0.006em;
}

.bold {
  font-weight: 500;
  letter-spacing: 0.005em;
}

b {
  font-weight: 500;
  letter-spacing: 0.005em;
}

.text-color-fade {
  opacity: 0.7;
}

.no-min-height {
  min-height: 0;
}

.no-bold {
  font-weight: normal;
}

.no-select, [no-select] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

md-content[layout-padding-fab], md-content.layout-padding-fab {
  padding-bottom: 80px;
}

[no-padding], .no-padding {
  padding: 0 !important;
}

[no-padding-right], .no-padding-right {
  padding-right: 0 !important;
}

[no-padding-left], .no-padding-left {
  padding-left: 0 !important;
}

[no-padding-top], .no-padding-top, [no-padding-tb], .no-padding-tb {
  padding-top: 0 !important;
}

[no-padding-bottom], .no-padding-bottom, [no-padding-tb], .no-padding-tb {
  padding-bottom: 0 !important;
}

[margin-top],
.margin-top {
  margin-top: 8px;
}

[layout-padding-lr] {
  padding: 0 8px;
}

[layout-padding-tb] {
  padding: 8px 0;
}

[no-margin],
.no-margin {
  margin: 0 !important;
}

[no-margin-bottom],
.no-margin-bottom, [no-margin-tb], .no-margin-tb {
  margin-bottom: 0 !important;
}

[no-margin-top],
.no-margin-top, [no-margin-tb], .no-margin-tb {
  margin-top: 0 !important;
}

[no-margin-left],
.no-margin-left {
  margin-left: 0 !important;
}

[no-margin-right],
.no-margin-right {
  margin-right: 0 !important;
}

.no-min-width {
  min-width: 0 !important;
}

.text-center {
  text-align: center !important;
}

.color-black {
  color: black !important;
}

.dark-text {
  color: #424242 !important;
}

.line-height-1rem {
  line-height: 1rem;
}

.line-height-normal {
  line-height: normal;
}

.vertical-align-middle {
  vertical-align: middle;
}

.border-right {
  border-radius: 0 !important;
  border-right: #acacac solid 1px;
}

.border-left {
  border-radius: 0 !important;
  border-left: #acacac solid 1px;
}

md-list md-list-item.active button.md-button:not([disabled]):hover {
  background-color: inherit;
}

[class*="-card"] md-input-container.md-input-focused .md-input[readonly] {
  border-color: rgba(0, 0, 0, 0.12);
}

[class*="-card"] md-input-container .md-input[disabled], [class*="-card"] [disabled] md-input-container .md-input {
  color: rgba(0, 0, 0, 0.87);
}

[class*="-card"] .md-select-value {
  min-width: 120px;
}

[class*="-card"] md-select[disabled] .md-select-value {
  color: rgba(0, 0, 0, 0.87);
}

/* Workarounds, these may not be needed in future versions of angular-material */
.md-button.md-icon-button.md-mini {
  margin: 0 0.3rem;
  height: 2.8rem;
  line-height: 2.8rem;
  width: 2.8rem;
}

.md-button.md-icon-button.md-small {
  margin: 0 0.4rem;
  height: 3.5rem;
  line-height: 3.5rem;
  width: 3.5rem;
}

.md-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px;
}

md-list-item .md-no-style.md-button {
  padding: inherit;
}

/* End Workarounds */
#cashierLogin md-input-container {
  font-size: 2rem;
}

#cashierLogin .numberPad > div[layout-margin] > .md-button {
  margin-left: 2.6rem;
  margin-right: 2.6rem;
}

#cashierLogin .numberPad > div[layout-margin] {
  line-height: 1;
}

#cashierLogin .location {
  margin-bottom: 0;
  margin-top: 0;
}

#cashierLogin .numberPad > div[layout-margin] > .md-button > span {
  font-size: 3.2rem;
}

@media screen and (max-width: 350px) {
  #cashierLogin .numberPad > div[layout-margin] > .md-button {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }
}

@media screen and (max-height: 499px) {
  #cashierLogin [layout-margin], #cashierLogin [layout-margin] > [flex] {
    margin: .5rem;
  }
}
.md-default-theme.md-hue-2.md-warn.md-raised .material-icons,
.md-default-theme.md-hue-2.md-warn.md-fab .material-icons {
  color: rgba(255, 255, 255, 0.87);
}

.md-accent md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .material-icons {
  color: #517051;
}

md-list-item.active {
  background-color: #d0d0d0;
}

.discount, .balance-due, .error {
  color: #b42747;
}

.credit {
  color: #739e73;
}

.tender-button.md-default-theme .material-icons {
  color: #5d805d;
}

md-toolbar.md-default-theme.grey {
  background-color: #474544;
}

.num10Key .md-button.md-default-theme.md-raised {
  color: #23537d;
}

.avatar {
  background-color: #7D7C7C;
}

md-sidenav md-divider.md-default-theme {
  border-top-color: rgba(255, 255, 255, 0.12);
}

md-sidenav md-content.md-default-theme {
  background-color: #3a3633;
}

md-sidenav md-list.md-default-theme {
  color: #a8a8a8;
}

md-sidenav .material-icons.md-default-theme {
  color: #a8a8a8;
}

md-sidenav .md-button.md-default-theme.active {
  background-color: rgba(158, 158, 158, 0.2);
}

.active {
  background-color: #c7c7c7;
}

.nav-edit {
  background-color: #8e24aa;
}

/*# sourceMappingURL=app.css.map */